body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-y: hidden;
    background-image: url(./Imagem/Fundo.jpeg);
    background-repeat: no-repeat;
    background-size: 395px 555px;
}
.nome {
    margin-top: 110px;
    text-align: center;
    font-size: 20px;
    font-family:'Courier New', Courier, monospace;       
}
.data {
    text-align: center;
    font-size: 12px;
}
.container {
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
}
.column {
    flex: 1;
    margin: 10px;
}
.bot {
    height: 16px;
    margin: 4px;
    padding: 12px;
}
a {
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 4px;
    font-size: 12px;
    color: black;
    text-decoration: none;
  }
  footer {
    margin: 16px;
    text-align: center;
    font-size: 12px;
  }
